[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
diffusers = "*"
transformers = "*"
ftfy = "*"
opencv-python = "*"
ipywidgets = "*"
diffusion = "*"
torch = "*"
ipykernel = "*"
accelerate = "*"
xformers = "*"
fire = "*"
scikit-image = "*"

[requires]
python_version = "3.8"
